<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :bill_amount %>
    <%= form.text_field :bill_amount, id: :invoice_bill_amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :company %>
    <%= form.text_area :company, id: :invoice_company, class: 'form-control', rows: 1, placeholder: "Enter your company name" %>
  </div>

  <div class="form-group">
    <%= form.label :agent %>
    <%= form.text_field :agent, id: :invoice_agent, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :invoice_currency, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date %> <br>
    <%= form.date_select :date, id: :invoice_date, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
